.megaMenu {
    composes: col-end-8 from global;
    composes: col-start-4 from global;
    composes: flex-grow from global;
    composes: hidden from global;
    composes: justify-self-center from global;
}

/* Large screen styles */
.megaMenu {
    composes: lg_flex from global;
}
