src/CHANGELOG.md         
src/LICENSE.txt      
src/app               
src/composer.json  
src/generated                 
src/nginx.conf.sample    
src/pub    
src/vendor
src/COPYING.txt          
src/LICENSE_AFL.txt  
src/auth.json.sample  
src/composer.lock  
src/grunt-config.json.sample  
src/package.json.sample  
src/setup
src/Gruntfile.js.sample  
src/SECURITY.md      
src/bin               
src/dev            
src/lib                       
src/phpserver            
src/var
node_modules